@import url('https://fonts.googleapis.com/css2?family=Chelsea+Market&family=Oxygen&display=swap');
body {
    position: relative;
    overflow-x: hidden;
    background-color: rgb(8, 161, 226);
}
body,
html { height: 100%;}
.nav .open > a, 
.nav .open > a:hover, 
.nav .open > a:focus {background-color: transparent;}

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 220px;
}

#sidebar-wrapper {
    z-index: 1000;
    left: 220px;
    width: 0;
    height: 100%;
    margin-left: -220px;
    overflow-y: auto;
    overflow-x: hidden;
    /*background-image: url(https://image.freepik.com/free-vector/abstract-blue-geometric-shapes-background_1035-17545.jpg);*/
    /*background-image: url(res/header.jpg); */  
    background: rgba(0,0,0,0.2);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#sidebar-wrapper::-webkit-scrollbar {
  display: none;
}

#wrapper.toggled #sidebar-wrapper {
    width: 220px;
}

#page-content-wrapper {
    width: 100%;
    padding-top: 70px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -220px;
}

.navbar {
  padding: 0;
}

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 220px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    position: relative; 
    line-height: 20px;
    display: inline-block;
    width: 100%;
}

.sidebar-nav li:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    height: 100%;
    width: 3px;
    background-color: #e03434;
    -webkit-transition: width .2s ease-in;
      -moz-transition:  width .2s ease-in;
       -ms-transition:  width .2s ease-in;
            transition: width .2s ease-in;

}
.sidebar-nav li li:hover{
  background: rgb(4, 0, 255) !important;
  border-radius: 10px;
  margin-left: 10px;
  margin-right: 10px;
}
.sidebar-nav li:hover:before,
.sidebar-nav li.open:hover:before {
    width: 100%;
    -webkit-transition: width .2s ease-in;
      -moz-transition:  width .2s ease-in;
       -ms-transition:  width .2s ease-in;
            transition: width .2s ease-in;

}

.sidebar-nav li a {
    display: block;
    /*color: rgb(14, 14, 14);*/
    color: rgb(206, 200, 200);
    text-decoration: none;
    padding: 10px 15px 10px 30px;    
}
.sidebar-nav .active{
    opacity: 0.9;
    /*background-color: blueviolet;*/
    background:linear-gradient(to right, #7f00ff, #e100ff);
}

.sidebar-nav li a:hover,
.sidebar-nav li a:active,
.sidebar-nav li a:focus,
.sidebar-nav li.open a:hover,
.sidebar-nav li.open a:active,
.sidebar-nav li.open a:focus{
    color: #fff;
    text-decoration: none;
    background-color: transparent;
}
.sidebar-header {
    text-align: center;
    font-size: 20px;
    position: relative;
    width: 100%;
    display: inline-block;
    margin-bottom: 50px;
}
.sidebar-header p{
    font-size: 0.8rem;
    color: blue;
}
.sidebar-brand {
    height: 200px;
    /* position: relative; */
    background-image: url(https://cdn.shopify.com/s/files/1/1660/9891/products/HTB1J9sWPXXXXXadaXXXq6xXFXXXv_large.jpg?v=1500533509);
    padding-top: 1em;
}
.sidebar-brand a {
  padding-top: 5px;
  /*color: rgb(0, 0, 0);*/
  background: linear-gradient(to right, #fc00ff, #00dbde);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.sidebar-brand img {
    height: 100%;
    width: 100%;
}

.sidebar-brand a:hover {
  background: linear-gradient(to right, #0099f7, #f11712);
    text-decoration: none;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.dropdown-header {
    text-align: center;
    font-size: 1em;
    color: #ddd;
    background:transparent;
    background: linear-gradient(to right bottom, #2f3441 50%, #212531 50%);
}
.sidebar-nav .dropdown-menu {
    position: relative;
    width: 100%;
    padding: 0;
    margin: 0;
    border-radius: 0;
    border: none;
    background:transparent;
    box-shadow: none;
}
.dropdown-menu.show {
    top: 0;
}
.nav.sidebar-nav li a::before {
    font-family: fontawesome;
    content: "\f12e";
    vertical-align: baseline;
    display: inline-block;
    padding-right: 5px;
}
a[href*="#home"]::before {
  content: "\f015" !important;
}
a[href*="#about"]::before {
  content: "\f129" !important;
}
a[href*="#events"]::before {
  content: "\f073" !important;
}
a[href*="#events"]::before {
  content: "\f073" !important;
}
a[href*="#team"]::before {
  content: "\f0c0" !important;
}
a[href*="#works"]::before {
  content: "\f0b1" !important;
}
a[href*="#pictures"]::before {
  content: "\f03e" !important;
}
a[href*="#github"]::before {
  content: "\f09b" !important;
}
a[href*="#books"]::before {
  content: "\f02d" !important;
}
a[href*="#art"]::before {
  content: "\f1fc" !important;
}
a[href*="#awards"]::before {
  content: "\f02e" !important;
}
a[href*="#services"]::before {
  content: "\f013" !important;
}
a[href*="#contact"]::before {
  content: "\f086" !important;
}
a[href*="#followme"]::before {
  content: "\f099" !important;

}
a[href*="#twitter"]::before {
    content: "\f099" !important;
    color: #0084b4;
}
a[href*="#fb"]::before {
    content: "\f09a" !important;
}
a[href*="#insta"]::before {
    content: "\f16d" !important;
}
a[href*="#linkedin"]::before {
    content: "\fe01" !important;
}
a[href*="#hackerrank"]::before {
    content: "\f5f7" !important;
}
.hamburger {
  position: fixed;
  top: 20px;  
  z-index: 999;
  display: block;
  width: 32px;
  height: 32px;
  margin-left: 15px;
  background: transparent;
  border: none;
}
.hamburger:hover,
.hamburger:focus,
.hamburger:active {
  outline: magenta;
}
.hamburger.is-closed:before {
  content: '';
  display: block;
  width: 100px;
  font-size: 14px;
  color: #fff;
  line-height: 32px;
  text-align: center;
  opacity: 0;
  -webkit-transform: translate3d(0,0,0);
  -webkit-transition: all .35s ease-in-out;
}
.hamburger.is-closed:hover:before {
  opacity: 1;
  display: block;
  -webkit-transform: translate3d(-100px,0,0);
  -webkit-transition: all .35s ease-in-out;
}

.hamburger.is-closed .hamb-top,
.hamburger.is-closed .hamb-middle,
.hamburger.is-closed .hamb-bottom,
.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-middle,
.hamburger.is-open .hamb-bottom {
  position: absolute;
  left: 0;
  height: 4px;
  width: 100%;
}
.hamburger.is-closed .hamb-top,
.hamburger.is-closed .hamb-middle,
.hamburger.is-closed .hamb-bottom {
  background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(34,253,29,1) 50%, rgba(252,176,69,1) 100%);
}
.hamburger.is-closed .hamb-top { 
  top: 5px; 
  -webkit-transition: all .35s ease-in-out;
}
.hamburger.is-closed .hamb-middle {
  top: 50%;
  margin-top: -2px;
}
.hamburger.is-closed .hamb-bottom {
  bottom: 5px;  
  -webkit-transition: all .35s ease-in-out;
}

.hamburger.is-closed:hover .hamb-top {
  top: 0;
  -webkit-transition: all .35s ease-in-out;
}
.hamburger.is-closed:hover .hamb-bottom {
  bottom: 0;
  -webkit-transition: all .35s ease-in-out;
}
.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-middle,
.hamburger.is-open .hamb-bottom {
  background: linear-gradient(to right, #333333, #dd1818);
}
.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-bottom {
  top: 50%;
  margin-top: -2px;  
}
.hamburger.is-open .hamb-top { 
  -webkit-transform: rotate(45deg);
  -webkit-transition: -webkit-transform .2s cubic-bezier(.73,1,.28,.08);
}
.hamburger.is-open .hamb-middle { display: none; }
.hamburger.is-open .hamb-bottom {
  -webkit-transform: rotate(-45deg);
  -webkit-transition: -webkit-transform .2s cubic-bezier(.73,1,.28,.08);
}
.hamburger.is-open:before {
  content: '';
  display: block;
  width: 100px;
  font-size: 14px;
  color: #fff;
  line-height: 32px;
  text-align: center;
  opacity: 0;
  -webkit-transform: translate3d(0,0,0);
  -webkit-transition: all .35s ease-in-out;
}
.hamburger.is-open:hover:before {
  opacity: 1;
  display: block;
  -webkit-transform: translate3d(-100px,0,0);
  -webkit-transition: all .35s ease-in-out;
}
@media only screen and (max-width:970px){
  #sidebar-wrapper{
    background: rgba(0,0,0,0.7);
  }
}

/* Footer CSS */
footer p{
  color: rgba(255, 255, 255, 0.7);
}
footer h2,h3{
  color: rgb(195, 0, 255);
  font-family: 'Chelsea Market', cursive;
}
footer{
  background: url(res/footer_bg.jpg);
  fill-opacity: 0.4;
}
.footer-top{
  padding: 80px 0px; 
  margin: 10px 0px;
}
.footer-top h2:before {
  content: '|'; 
  color: green;
  font-weight: 700;
  padding-right: 10px;
}
.segment
.segment-two ul{
  margin: 0;
  padding: 0;
  list-style: none;
}
.segment-two ul li{
  border-bottom: 1px solid rgba(255,255,255,0.3);
  line-height: 40px;
}
.segment-two ul li a{
  color: #999;
  text-decoration: none;
 }
.segment-two ul li a:hover{
  color: rgba(255,255,255,0.9);
}
.segment-three a:hover{
  background: white;
}
.segment-three  a{
  background: #494848;
  width: 40px;
  height: 40px;
  display: inline-block;
  border-radius: 50%;
}
.segment-three a i{
  font-size: 20px;
  color: #fff;
  padding: 10px 11px;
}
.segment-three a i:hover{
  color: black;
}
 .segment-four form input[type="button"]{
  background: rgba(195, 0, 255,0.8);
  border: none;
  padding: 3px 15px;
  margin-left: -5px;
  color: rgba(255,255,255,0.7);
 }
 .segment-four form input[type="button"]:hover{
  background: rgba(195, 0, 255, 1);
 }
 .footer-bottom-text{
   text-align: center;
   background-color: #000;
   font-size: small;
   line-height: 75px;
 }
 @media only screen and (max-width:576px)
 {
   .segment-three,.segment-four{
     margin-top: 3%;
   }
   .footer-bottom-text{
      line-height: 30px;
   }
   #br-small::before{
     content: "\a";
     white-space: pre;
   }
 }
 #feedback label{
  color: rgb(195, 0, 255);

 }
 #feedback input[type="text"]{
   background: transparent;
   border: none;
   font-size: small;
   margin-bottom: 2%;
 }
 textarea{
   background: transparent;
   border: none;
   font-size: small;
 }
 #feedback input[type="text"]:hover, textarea:hover{
   background: #000;
 }
#feedback input[type="text"]:focus{
  background: rgb(195, 0, 255);
  color: #fff;
}
textarea:focus{
  background: rgb(195, 0, 255);
  color: #fff;
  height: 150px;
  width: 300px;
  padding: 15%;
}
#feedback input[type="text"]:focus::placeholder,textarea:focus::placeholder{
  color: #fff;
}
footer a[href*="#about"]::before {
  content: "" !important;
}
.modal-header {
  border-bottom: 1px solid rgb(195, 0, 255);
}
.modal-content{
  background: transparent;
}
#cls,.modal-header,.modal-content{
  color: white;
}